/*-----------------------------------*\
  #home.css
\*-----------------------------------*/

/**
 * copyright 2023 sikharthy infotech
 */

/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero {
  padding-block-start: 0;
}

.hero-card {
  background-color: var(--light-gray);
  padding: 100px 15px;
  background-position: 20%;
}

.hero-text {
  color: var(--white);
  font-size: var(--fs-6);
  margin-block: 16px 30px;
}

.hero .price {
  color: var(--white);
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
  margin-block-end: 20px;
}

.hero .scrollbar-item {
  min-width: 100%;
}
